# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.env

# Data contents only
data/raw/*
data/interim/*
data/processed/*
data/eval/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/eval/.gitkeep

# Artifacts contents only
artifacts/models/*
artifacts/embeddings/*
artifacts/indexes/*
artifacts/reports/*
!artifacts/models/.gitkeep
!artifacts/embeddings/.gitkeep
!artifacts/indexes/.gitkeep
!artifacts/reports/.gitkeep

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store