# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.env

# Data
data/raw/*
data/interim/*
data/processed/*
artifacts/*
*.csv
*.parquet
*.npy

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store