--extra-index-url https://download.pytorch.org/whl/cpu
-r requirements-base.txt
pydantic-settings
faiss-cpu
openai
torch
transformers
sentence-transformers
bertopic
umap-learn
hdbscan
nltk
altair
python-json-logger